.section__skills{
      display:flex;
      flex-direction:row;
      width: 60%;
      padding: 1%;
      margin-bottom: 3%;
        &__div__volunteer{
            width: 80%;
            // border-color: rgb(148, 197, 209);
            margin-top: 1%;
            border-radius: 3%;
            margin-bottom: 3%;
            display:flex;
            flex-direction: column;
            padding: 2%;
            &:hover{
                scale: 1.1;
                background-image: repeating-linear-gradient(3deg, rgb(235, 230, 246), rgb(127, 221, 220) 1px, transparent 0px, transparent 1px);
 
                
            }
        }
        &__div__languages{
            width: 80%;
            padding: 1%;
            border-radius: 5%;
            border-width:3px;
            border-style:outset;
            border-color: rgb(158, 226, 223);
            margin: 1em;
         &:hover{
            background-color: rgb(158, 226, 223);
             
     }
             &__title{
               // background-color: aquamarine;
               display: flex;
        }
       
        
}

}
.section__title__languages{
    margin-top: 1%;
    margin-bottom: 1%;
}
.section__abroad{
// background-color: pink;
width: 60%;
display: flex;
// gap: 1em;
margin-bottom: 1%;
background-image: repeating-linear-gradient(3deg, rgb(235, 230, 246), rgb(127, 221, 220) 1px, transparent 0px, transparent 1px);



    &__title{
     padding: 1%;
     &:hover{
        background-color: rgb(158, 226, 223);
    }
    
    }
}