*{
  margin: 0 auto;
   box-sizing: border-box;
  color: rgb(98, 93, 93);
  // cursor: pointer; 
}
// cursor {
  
// }
.App {
  text-align: center;
}
html{
  // background-image: linear-gradient(rgb(176, 140, 238), rgb(246, 238, 188) );
 scroll-behavior: smooth;
}



